/**
 * Consume entire page size
 */
html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.center-main-axis {
  @include justify-content(center);
}
.center-cross-axis {
  @include align-items(center);
}
