.fillable-button {
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 0px;
  padding: 6px 12px;

  color: $color-primary;
  transition: 0.3s;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}
