/**
 * Styling for section that display information on the website
 */
.section-fullscreen {
    width: 100%;
    height: 100%;
}

.section-container {
}

#hero-greeting {
  margin: 0px;
  @include align-self(flex-start);
}
#hero-name {
  margin: 15px;
  font-size: 4em;
}
#hero-about {
  text-align: right;
  @include align-self(flex-end);
}
#hero-btn-container {
  margin-top: 1em;
  width: 100%;

  & #hero-btn-resume {
    margin-right: 5px;
  }
  & #hero-btn-contact {
    margin-left: 5px;
  }
}
